<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Rango</title>
    </head>

    <body>

        <div>
            {% if category %}
                <h1>{{ category.name }}</h1>

                {% if pages %}

                    <ul>

                        {% for page in pages %}

                            <li><a href="{{ page.url }}">{{ page.title }}</a></li>

                        {% endfor %}

                    </ul>

                {% else %}

                    <strong>No pages in category!</strong>

                {% endif %}

            {% else %}

                <strong>No such category!</strong>

            {% endif %}
        </div>

        <a href="/rango/category/{{category.slug}}/add_page/">Add page</a><br/>

        <a href="/rango/">Go to Main</a>

    </body>
</html>